{% extends "index.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}


<div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h3>All <span class="orange_color">Tutorial</span></h3>
                </div>
            </div>
        </div>
        
    

        {% for blog_page in page.get_children %}

        {% if blog_page.title != "Contact Us" %}
            
            {% image blog_page.specific.image original as img %}
        <div class="row mt-5">
            
            <div class="col-md-6">
                <img src="{{img.url}}" alt="{{img.alt}}" />
            </div>
            <div class="col-md-6">
                <div class="full blog_cont">
                    <h4>{{blog_page.specific.topic}}</h4>
                    <h5>{{blog_page.specific.date}}</h5>
                    <p>{{blog_page.specific.body|richtext}}</p>
                    <a href="{{blog_page.url}}" class="btn btn-primary">Start Learing</a>
                </div>
            </div>
        </div>
        {% endif %}
            {% endfor %}

        
    </div>
    <div class="row margin_top_30">
        <div class="col-md-12">
            <div class="button_section full center margin_top_30">
                <a style="margin:0;" href="/all_blogs/">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

{% endblock %}